# Core
numpy==2.3.2
pandas==2.3.1
scikit-learn==1.7.1
scipy==1.16.1

# NLP
nltk==3.9.1
regex==2025.7.34
indic-nlp-library==0.92
indicnlp==0.0.1
Morfessor==2.0.6

# Visualization
matplotlib==3.10.5
seaborn==0.13.2
altair==5.5.0
pydeck==0.9.1
wordcloud==1.9.4

# ML Boosting
xgboost==3.0.4

# Deployment
streamlit==1.48.1

# Utilities
tqdm==4.67.1
joblib==1.5.1
